{% extends 'base_header.html' %}
{% block title %}Aetas{% endblock %}
{% block main %}
<script src="js/scripts.js"></script>
<div class="default-container">
  <form method="POST" class="form-horizontal" onsubmit=''> {% csrf_token %}

    {% for field, message in form %}
      <label class="col-lg-3 control-label" for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
      <div>{{ message }}</div>
    {% endfor %}
      
    <input type="Submit" class="btn btn-info" value="Save Password" />

  </form>
</div>

{% endblock %}