{% extends 'splash_header.html' %}
{% block title %}Aetas{% endblock %}
{% block main %}
 
<head>
<title>Aetas.me - Time Tracking | Job Costing | Data Reporting</title>
<meta name="description" content="">
</head>
	
	<center><h2 style="color:deepskyblue;">Time Tracking | Job Costing | Data Reporting</h2></center><br>
	<center><img src="/static/logos/aetas-logo2.png" width="172" height="170"/></center>

	<center><h2 style="color:deepskyblue;">________________________________________________________</h2></center><br>

	<center><h3 style="color:lightslategray;">Ideal for freelancers, independent contractors, and businesses</h3></center> 
	<center><h2 style="color:green;">Plans start at $1 per user per month</h2></center>

	<center><h3 style="color:lightslategray;"><a style="color:deepskyblue;" href="{% url 'contact_us' %}">Contact us</a> to sign up<h3></center>

	<center><h2 style="color:deepskyblue;">________________________________________________________</h2></center><br>

	<center><h2 style="color:lightslategray;">Assign projects and tasks to employee groups and track job costing data</h2></center>
	<br>
	<center><img src="/static/Aetas Screenshots/ManageCompany1.png" title="Company Management" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">Quickly indicate time spent on each project and task upon clocking out</h2></center><br>
	<center><img src="/static/Aetas Screenshots/ClockOut1.png" title="Simple Clock Out" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">Know where your organization's time is going</h2></center><br>
	<center><img src="/static/Aetas Screenshots/ProjectOverviewChart1.png" title="Project Overview Chart" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">View comprehensive time reports for projects and tasks</h2></center><br>
	<center><img src="/static/Aetas Screenshots/ProjectTotalsAndPieChart1.png" title="Project Totals" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">View individual time entries for each project</h2></center><br>
	<center><img src="/static/Aetas Screenshots/ProjectTimeEntries1.png" title="Project Time Entries" width="auto" height="auto" /></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">Track total time worked for each user during any time period</h2></center><br>
	<center><img src="/static/Aetas Screenshots/EmployeeTotalTimes1.png" title="Employee Totals" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">View your employees' time cards and see who is clocked in</h2></center><br>
	<center><img src="/static/Aetas Screenshots/EmployeeOverview1.png" title="Employee Time Cards" width="auto" height="auto"/></center>
	<br>

	<br><br><br>
	<center><h2 style="color:lightslategray;">Track your personal time card</h2></center><br>
	<center><img src="/static/Aetas Screenshots/PersonalTimecard1.png" title="Personal Time Card" width="auto" height="auto"/></center>
	<br>

	<br><br><br><br><br>
	<center><h3><a style="color:deepskyblue;" href="{% url 'contact_us' %}">Contact Us</a><h3></center>
	<center><h5 style="color:lightgray">aetas.me | logan ut usa | 2015 | ver. 2.5.8</h5></center>
	<br><br><br><br><br>

{% endblock %}