{% extends 'splash_header.html' %}
{% block title %}Aetas{% endblock %}
{% block main %}

<!DOCTYPE HTML>
<html>
<head>
</head>
<body>

	<center><h1 style="color:deepskyblue;">Thank you for contacting us</h1>
	<h3 style="color:lightslategray;">We'll get back to you as soon as possible</h3>
	<h3><a style="color:deepskyblue;" href="/">Back to aetas.me</a><h3></center>


	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<center><h5 style="color:lightgray">aetas.me | logan ut usa | 2015 | ver. 2.5.8</h5></center>
	<br><br><br><br><br>
	

</body>

{% endblock %}